@import 'normalize';
@import '@telegram-apps/telegram-ui/dist/styles.css';
@import 'variables';


.page-wrapper {
    position: fixed;
    bottom: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: var(--secondary-bg-color);
    font: var(--font-base);
    color: var(--primary-text-color);
}

.main-content {
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


body {
    overflow: hidden;
}