@import 'normalize';
@import '@telegram-apps/telegram-ui/dist/styles.css';
@import 'variables';


.page-wrapper {
    padding: 10px 14px 0 14px;
    flex-grow: 1;
    height: calc(100svh - var(--header-height));
    position: fixed;
    bottom: 0;
    width: 100svw;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--bottom-navbar-height);
    overflow-y: auto;
}