.text {
    display: block;
    text-align: center;
}


.step {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 88%;
    padding-top: 10px;
}


.img {
    height: auto;
    width: 63.68%;
    object-fit: contain;
}


.stepContainer {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: calc(100% + 40px);
    background: var(--gradient-color);
    margin: 0 -20px 48px;
}