.text {
    display: block;
    text-align: center;
}


.step {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 88%;
    padding-top: 10px;
}


.img {
    max-height: 75%;
    width: auto;
    object-fit: contain;
}