.lootBoxIcon {
    position: relative;
    flex-grow: 1;
    width: 190px;
    height: 190px;

    path {
        fill: var(--tg-theme-text-color);
    }
}

.lootBoxIcons {
    align-self: center;
    position: relative;
}

.viewsIcon {
    height: 19px;
    width: 19px;
    fill: var(--tg-theme-button-text-color);
}

.buttonText {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: var(--text-base);
}

.button {
    max-width: 80%;
    min-width: 80%;
    align-self: center;
}

.lootBoxItem {
    display: flex;
    min-height: 80svw;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: var(--tg-theme-secondary-bg-color);
    padding: 20px 10px;
    border-radius: 16px;
}

.title {
    text-align: center;
}


.text {
    text-decoration: underline;
    text-align: center;
}