.icon {
    flex-grow: 1;
    align-self: center;
    width: 160px;
    height: 160px;
    path {
        fill: var(--tg-theme-text-color);
    }
}

.viewsIcon {
    height: 19px;
    width: 19px;
    fill: var(--tg-theme-button-text-color);
}

.buttonText {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: var(--text-base);
}

.button {
    max-width: 80%;
    min-width: 80%;
    align-self: center;
}

.lootBoxItem {
    display: flex;
    height: 80svw;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: var(--tg-theme-bg-color);
    padding: 20px 10px;
    border-radius: 16px;
}