.lootBoxIcon {
    position: relative;
    flex-grow: 1;
    width: 80px;
    height: 80px;
}

.lootBoxIcons {
    align-self: center;
    position: relative;
}

.viewsIcon {
    height: 19px;
    width: 19px;
    fill: var(--tg-theme-button-text-color);
}

.buttonText {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: var(--text-base);
}

.buttonText {
    display: inline-flex;
    align-items: center;
}

.viewsIcon {
    path {
        stroke: var(--inverted-text-color);
    }
}

.lootBoxItem {
    display: flex;
    flex-direction: column;
    background: var(--gradient-color);
    gap: 12px;
    padding: 12px;
    border-radius: 16px;
}

.title {
    text-align: center;
    letter-spacing: 0.15px;
}

.text {
    text-decoration: underline;
    text-align: center;
}

.link {
    background: none;
}

.arrow {
    stroke: var(--primary-button-color);
}

.detailLink {
    display: flex;
    color: var(--primary-button-color);
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
}