.header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.headerName {
    display: flex;
    gap: 4px;
    align-items: center;
    white-space: nowrap;    
    overflow: hidden;
}

.avatar {
    margin-right: 8px;
    width: 57px;
    height: 57px;
}

.block {
    display: flex;
    align-items: center;
    &:first-child {
        flex-grow: 1;
        max-width: 80%;
    }
}

.col {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 80%;
}


.name {
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
}