.header {
    width: 100%;
    position: fixed;
    top: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
}

.avatar {
    margin-right: 12px;
}

.col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.block {
    display: flex;
    align-items: center;
    &:first-child {
        max-width: 50%;
    }
}

.name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}