.text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    font-size: var(--text-2xl);
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}