.boostsListItem {
    gap: 8px;
}


.button {
    margin-left: auto;    
}

.icon {
    width: 16px;
    height: 16px;
    fill: var(--inverted-text-color);
    stroke: var(--inverted-text-color);
}

.buttonText {
    display: flex;
    align-items: center;
    gap: 4px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 50%;
}

.boostIcon {
    width: 40px;
    height: auto;
}

.viewsIcon {
    path {
        stroke: var(--inverted-text-color);
    }
}