.questItem {
    gap: 8px;
    align-items: center;
}

.button {
    margin-left: auto;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 47%;
}

.icon {
    width: 40px;
    height: auto;
}

.description {
    display: flex;
    align-items: center;
    gap: 4px;
}