.gameFinishModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.icon {
    color: var(--tg-theme-text-color);
    text-align: center;
    font-size: 50px;
}

.text {
    text-align: center;
}

.rewardImage {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
}


.block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.button {
    align-self: stretch;
}

.points {
    display: flex;
    align-items: center;
    gap: 4px;
}