.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    display: flex;
    flex: 0 1 50%;
    text-transform: uppercase;
}

.viewsIcon {
    width: 20px;
    height: 20px;
    fill: var(--tg-theme-text-color);
}

.energy {
    font-size: var(--text-sm);
    display: flex;
    align-items: center;
}

.title {
    font-size: var(--text-2xl);
    text-align: center;
}

.text {
    display: block;
    text-align: center;
}

.points {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.textRow {
    display: flex;
    align-items: center;
    gap: 4px;
}

.gameFinishModal {
    min-height: 40%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {
    color: var(--tg-theme-text-color);
    text-align: center;
    font-size: 50px;
}

.text {
    text-align: center;
}