.upgradesListItem {
    gap: 8px;
}

.lvl {
    text-align: center;
}

.reward {
    display: flex;
    align-items: center;
    gap: 4px;
}

.button {
    margin-left: auto;
}
.buttonContent {
    display: flex;
    align-items: center;
    gap: 6px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.badge {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(30%, -50%);

}

.description {
    display: flex;
    flex-direction: column;
}

.viewsIcon {
    path {
        stroke: var(--inverted-text-color);
    }
}

.iconBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 60px;
    height: 60px;
}

.upgradeIcon {
    width: 40px;
    height: 40px;
}