.icon {
    width: 30px;
    height: 30px;
    margin-left: 6px;
    path {
        fill: var(--tg-theme-text-color);
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    font-size: var(--text-2xl);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.points {
    display: flex;
    align-items: center;
}