.description {
    margin-right: 15px;
    font-size: var(--text-sm);
}

.text {
    display: flex;
    justify-content: space-between;
}

.conditions {
    display: flex;
    align-items: center;
    gap: 6px;
}

.conditionItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
}