.points {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--text-2xl);
    color: #fff;
    gap: 8px;
}

.icon {
    width: auto;
    height: 32px;
    fill: #fff;
}