.referralLink {
    position: fixed;
    width: calc(100svw - 32px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    bottom: calc(var(--bottom-navbar-height) + 20px);
}


.link {
    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: var(--tgui--font-family);
    font-weight: bold;
    font-size: var(--text-base);
}


.shareIcon {
    margin-right: 4px;
    stroke: var(--inverted-text-color);
}


.button {
    flex-grow: 1;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-button-color-10);
    padding: 9px;
    border-radius: 10px;
}

.copyIcon {
    stroke: var(--primary-button-color);
}