.referralLink {
    position: fixed;
    width: calc(100% - 28px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    padding: 20px;
    background: var(--tg-theme-secondary-bg-color);
    border-radius: 16px;
    bottom: calc(var(--bottom-navbar-height) + 20px);
}


.link {
    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: var(--tgui--font-family);
    font-weight: bold;
    font-size: var(--text-base);
}


.shareIcon {
    font-size: var(--text-base);
    margin-left: 6px;
}

.copyIcon {
    font-size: var(--text-lg);
}

.button {
    flex-grow: 1;
}