.questsList {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 4px;
   padding-bottom: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sectionItems {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
