.gameTouchContent {
    position: fixed;
    z-index: 20000;
}

.row {
    display: flex;
    align-items: center;
}



.viewIcon {
    width: 30px;
    height: 30px;
    path {
        stroke: var(--inverted-text-color);
    }
}

