.gameTouchContent {
    position: fixed;
    z-index: 20000;
}

.row {
    display: flex;
    align-items: center;
}

.points {
    color: var(--white-color);
    font-weight: bold;
    font-size: var(--text-xl);
    font-family: var();
}

.viewIcon {
    width: 30px;
    height: 30px;
}