.dailyRewardItems {
    width: 100%;
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
}

.dailyRewards {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 14px 0;

}


.timer {
    justify-content: center;
    div,
    span {
        font-size: var(--text-base);
    }
}

.button {
    margin-top: 20px;
}