.bottomNavbar {
    position: fixed;
    width: 100svw;
    height: var(--bottom-navbar-height);
    bottom: 10px;
    padding: 0 14px;
}

.tabList {
    background: var(--tg-theme-section-bg-color);
    div > div {
        background: var(--tg-theme-section-separator-color);
    }
}