.bottomNavbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100svw;
    height: var(--bottom-navbar-height);
    bottom: 0px;
    padding: 7px 14px 34px 14px;
    background: var(--primary-bg-color);
    z-index: 1000;
}


.item {
    flex: 1 1 auto;
}