.unboardingSteps {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.pagination {
    margin-top: 16px;
    align-self: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 8px;
    margin-top: 16px;
}