.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 24px 0;
}

.icon {
    fill: var(--secondary-text-color);
    stroke: var(--secondary-text-color);
}

.rewardImage {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
}

.button {
    align-self: stretch;
}